@font-face {
font-family: 'DroidSansRegular';
src: url('../fonts/DroidSans-webfont.eot');
src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/DroidSans-webfont.woff') format('woff'), url('../fonts/DroidSans-webfont.ttf') format('truetype'), url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'DroidSansBold';
src: url('../fonts/DroidSans-Bold-webfont.eot');
src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix')
format('embedded-opentype'), url('../fonts/DroidSans-Bold-webfont.woff') format('woff'), url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
url('../fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
font-weight: normal;
font-style: normal;
}
html, body {
font-family: arial, verdana, tahoma, sans-serif;
font-size: 95%;
color: #5e7a97;
line-height: 150%;
height: 100%;
margin: 0;
}
body {
background: #5399cc;
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #5399cc),
color-stop(.67, #0068b3) );
background-image: -moz-linear-gradient( center bottom, #5399cc 0%, #0068b3 67% );
background-repeat: no-repeat;
height: 100%;
margin: 0;
}
a {
color: #0068b3;
}
a:hover {
color: #91c43f;
}
h1, h2, h3, h4, h5 {
color: #0068b3;
}
h1, h2, h3, .nav, .quote, .footer a.more {
font-family: 'DroidSansBold', arial, verdana, tahoma, san-serif;
}
h1 a {
text-decoration: none;
}
h1 {
font-size: 2.1em;
font-weight: bold;
line-height: 110%;
margin: 20px 0 20px 0;
}
h2 {
font-size: 1.5em;
margin: 0 0 20px 0;
padding: 30px 0 0 0;
border-top: 1px
solid #c8e29f;
}
h3 {
font-size: 1.2em;
margin: 0;
}
h4 {
font-size: 1.2em;
font-weight: bold;
}
p {
margin: 0 0 15px 0;
}
.container {
width: 100%;
margin: 0 auto 0 auto;
}
.main, .nav ul, .header,
.footer-inner, .copyright-inner, .footer-logo-inner, .footer-bar-inner {
width: 960px;
margin: 0 auto 0 auto;
}
.header {
overflow: hidden;
height: 140px;
}
.logo {
float: left;
width: 250px;
}
.logo h1 {
background: url('../images/wotif-logo.png') no-repeat 0px 30px;
width: 233px;
height: 130px;
text-indent: -50000px;
margin: 0;
padding: 0;
}
.quote {
float: right;
width: 400px;
text-align: right;
padding: 40px 0 0 0;
}
.quote p {
color: #c0def3;
font-size: 1.1em;
line-height: 125%;
}
/* Navigation */.nav {
font-size: 1em;
font-weight: bold;
background: #a8d166;
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #a8d166), color-stop(0.67, #91c43f) );
background-image: -moz-linear-gradient( center bottom, #a8d166 0%,
#91c43f 67% );
background-repeat: no-repeat;
}
.nav li {
display: inline;
}
.nav a {
margin: 5px 0 0 0;
padding: 8px 15px 8px 15px;
color: #fff;
text-decoration: none;
display: inline-block;
background: #91c43f;
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #91c43f), color-stop(0.67, #b5dd75) );
background-image: -moz-linear-gradient( center
bottom, #91c43f 0%, #b5dd75 67% );
background-repeat: no-repeat;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}
.nav a.selected {
color: #0068b3;
background: #fff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}
.nav a.selected:hover {
color: #fff;
}
.nav
a:hover {
background: #91c43f;
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #91c43f), color-stop(0.67, #b9e277) );
background-image: -moz-linear-gradient( center bottom, #91c43f 0%, #b9e277 67% );
background-repeat: no-repeat;
}
/* Main */.main {
width: 100%;
margin: 0 0 25px 0;
}
.main-inner {
background: #fff;
overflow: hidden;
width: 920px;
margin: 0 auto 0 auto;
padding: 0 0 0 40px;
-moz-box-shadow: 0 1px 1px #0068b3;
-webkit-box-shadow: 0 1px 1px #0068b3;
box-shadow: 0 1px 10px #0068b3;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
}
.content {
float: left;
width: 580px;
padding: 45px 0 1045px 0;
margin: 0 0 -1000px 0;
}
.main-full-inner {
background: #fff;
overflow: hidden;
margin: 0 auto 0 auto;
padding: 0 0 0 40px;
-moz-box-shadow: 0 1px 1px #0068b3;
-webkit-box-shadow: 0 1px 1px #0068b3;
box-shadow: 0 1px 10px #0068b3;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
}
.full-content {
float: left;
padding: 45px 0 1045px 0;
margin: 0 0 -1000px 0;
}

/* Sidebar */.side-bar {
float: right;
width: 235px;
padding: 60px 30px 1000px 30px;
margin: 0 0 -1000px 0;
vertical-align: top;
background: #f3f2ec;
border-left: 1px solid #edebe0;
}
.side-bar h4 {
color: #0068b3;
margin: 0 0 15px 0;
}
.side-bar a {
font-size: 0.8em;
border-bottom: 1px solid #eeede6;
padding: 3px 5px 3px 5px;
display: block;
text-decoration: none;
color: #64788c;
}
.side-bar a.selected {
font-weight: bold;
color: #00538f;
margin: 0 0 0 -1px;
padding: 3px 5px 3px 6px;
}
.side-bar a:hover {
color: #436807;
background: #eae9e2;
}
.side-bar li:first-child a {
border-top: 1px solid #eeede6;
}
/* Recent
posts */.recent-posts {
padding: 20px 0 20px 0;
}
.recent-posts ul, .recent-posts li {
display: inline-block;
}
.recent-posts li {
width: 180px;
margin: 0 0 0 16px;
vertical-align: top;
}
.recent-posts li:first-child {
margin: 0;
}
/* Category */.category {
}
.category h2 {
margin: 35px 0 25px 0;
}
.category ul {
}
.category li {
margin: 0 0 10px 0;
padding: 0 0 10px 0;
border-bottom: 1px dotted #eee;
}
.category h4 a {
text-decoration: none;
}
.category p {
margin: 0;
}
/* Posts */.post-heading {
overflow: hidden;
}
.post-title {
width: 580px;
float: left;
}
.post-social {
border-top: 1px solid #c8e29f;
padding: 5px 0 0 0;
}
.post-social li {
display: inline;
}
.post-category li {
display: inline;
}
.post-meta {
margin: 0 0 15px 0;
}
.post-meta ul {
display: inline;
}
.post-text {
}
.category .post-text {
margin: 0 0 25px 0;
}
.post-author {
background: #edf2e6;
border: 1px solid #e2e9d6;
color: #436807;
padding: 10px;
overflow: hidden;
font-size: 0.85em;
line-height: 150%;
margin: 0 0 25px 0;
}
.post-author-photo img {
margin: 0;
}
.post-author-photo {
float: left;
width: 100px;
}
.post-author-photo img {
padding: 5px;
background: #fff;
border: 1px solid #e2e9d6;
}
.post-author-info {
margin-left: 110px;
}
.post-author-info h4 {
color: #436807;
margin: 0;
}
.post-author-info span {
color: #436807;
font-size: 0.9em;
font-style: italic;
}
.post-author-info p {
color: #436807;
padding: 0;
margin: 0 0 5px 0;
}
.post-type {
text-transform: uppercase;
color: #ccc;
font-size: 0.7em;
border-top: 1px
dotted #ddd;
border-bottom: 1px dotted #ddd;
padding: 3px 0 3px 0;
}
.post-type span {
font-weight: bold;
color: #bbb;
}
.post-date {
font-size: 0.9em;
float: left;
background: #b6da7c;
/*background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #b2d679), color-stop(0.67, #91c43f) );
background-image: -moz-linear-gradient( center bottom, #b2d679 0%,
#91c43f 67% );
background-repeat: no-repeat; */ font-family: 'DroidSansBold', arial, verdana, tahoma, san-serif;
padding: 6px 2px 6px 2px;
width: 30px;
text-align: center;
}
.post-day {
color: #fff;
font-size: 1.35em;
margin: 0;
padding: 0;
line-height: 100%;
}
.post-month {
color: #0068b3;
font-size: 0.7em;
letter-spacing: 1px;
margin: 0;
padding: 0;
line-height: 100%;
}
.post-recent {
margin: 0 0 0 45px;
}
.post-category {
}
.post-nav {
overflow: hidden;
width: 100%;
margin: 0 0 25px 0;
}
.post-prev {
float: left;
width: 50%;
}
.post-next {
float: right;
text-align: right;
width: 50%;
}
.read-more {
font-size: 0.75em;
margin: 10px 0 0 0;
}
.view-more {
background: #ddd;
padding: 5px 10px 5px 10px;
margin: 35px 0 35px 0;
text-align: right;
}
/*
Comments */
.comment-author {
font-size: 0.8em;
padding: 3px 0 0 38px;
margin: 0 0 20px 0;
background: url('../images/speech-default.png') no-repeat 15px 0;
}
.comment-author span {
font-weight: bold;
}
.wotif .comment-author {
color: #436807;
background: url('../images/speech-wotif.png') no-repeat 15px 0;
}
.dsq-comment .comment-text {
font-size: 0.9em;
background: #c0def3;
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #d5e8f4), color-stop(.67, #e6f2fa) );
background-image: -moz-linear-gradient( center bottom, #d5e8f4 0%,
#e6f2fa 67% );
background-repeat: no-repeat;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding: 15px;
margin: 0;
}
.wotif .comment-text {
color: #436807;
background: #e7eedc;
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #ddebc6), color-stop(.67, #e7eedc) );
background-image: -moz-linear-gradient( center
bottom, #ddebc6 0%, #e7eedc 67% );
background-repeat: no-repeat;
}
/* Footer */.footer {
background: #5399cc;
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0,
#5399cc), color-stop(.67, #0068b3) );
background-image: -moz-linear-gradient( center bottom, #5399cc 0%, #0068b3 67% );
background-repeat: no-repeat;
border-top: 2px solid #62a4d5;
color: #a9cee9;
font-size: 0.8em;
overflow: hidden;
padding: 40px 0 40px 0;
}
.footer-inner {
background: #fff;
}
.footer h3 {
font-weight: bold;
color: #d8e8f3;
margin: 0 0 10px 0;
font-size: 1.35em;
}
.footer p {
margin: 0 0 5px 0;
}
.footer a {
color: #b2d679;
text-decoration: none;
}
.footer a:hover {
text-decoration: none;
font-weight: bold;
color: #fff;
}
.footer a.more {
font-size: 1em;
background: #91c43f;
color: #fff;
padding: 4px 7px 4px 7px;
-moz-box-shadow: 0 2px 10px #0068b3;
-webkit-box-shadow: 0 2px 10px #0068b3;
box-shadow: 0 2px 10px #0068b3;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
.footer a.more:hover {
-moz-box-shadow: 0 2px 2px #0068b3;
-webkit-box-shadow: 0 2px 2px #0068b3;
box-shadow: 0 2px
2px #0068b3;
}
.footer-about, .footer-brands, .footer-contact, .footer-social {
float: left;
width: 202px;
}
.footer-about {
margin: 0 50px 0 0;
}
.footer-brands {
margin: 0 50px 0
0;
}
.footer-brands ul {
padding: 5px 0 0 0;
}
.footer-brands li:first-child a {
border-top: 1px dotted #62a4d5;
}
.footer-social {
margin: 0 50px 0 0;
}
.footer-contact {
margin: 0;
}
.list-brands
a, .list-social a {
border-bottom: 1px dotted #62a4d5;
padding: 2px 0 2px 0;
display: block;
}
.footer-bar {
background: #a8d166;
background-image: -webkit-gradient( linear, left bottom, left
top, color-stop(0, #a8d166), color-stop(0.67, #91c43f) );
background-image: -moz-linear-gradient( center bottom, #a8d166 0%, #91c43f 67% );
background-repeat: no-repeat;
overflow: hidden;
margin: 0;
padding: 25px 0 25px 0;
}
/* Bottom bar */.footer-bar-inner {
overflow: hidden;
color: #436807;
font-size: 0.75em
}
.footer-bar p {
margin: 0;
padding: 0;
line-height: 135%;
}
.footer-bar a {
color: #00538f;
}
.copyright {
width: 50%;
float: left;
}
.top {
width: 50%;
float: right;
text-align: right;
}
