 <div class="footer">
    <div class="footer-inner">
           <div class="footer-about">
               <h3>About Wotif</h3>
               <p>Wotif Group operates leading online travel brands in the Asia Pacific region. We provide both business and leisure customers alike with a highly convenient booking service for all their travel needs. Our services are simple to use, value-focused, and provide a wide range of choice whether for accommodation, flights, car rental, insurance, travel packages or tours.</p>
               <a href="">Learn more</a>
           </div>
           <div class="footer-brands">
           <h3>Wotif Brands</h3>
           <ul class="list-brands">
               <li><a href="">Wotif.com</a></li>
               <li><a href="">Lastminute.com.au</a></li>
               <li><a href="">Travel.com.au</a></li>
               <li><a href="">Travelmax</a></li>
               <li><a href="">Asia Web Direct</a></li>
               <li><a href="">LateStays.com</a></li>
               <li><a href="">GoDo.com.au</a></li>
               <li><a href="">Wotflight</a></li>
               <li><a href="">Arnold Travel Technology</a></li>
           </ul>
           </div>
           <div class="footer-social">
               <h3>About this blog</h3>
               <p>Brought to you by all the teams keeping the site(s) running... devs, architects, sysadmins, business analysis, testers, front-end engineers, uxi team.</p>                                                
           </div>
           <div class="footer-contact">               
               <h3>Work @ Wotif!</h3>
               <p>Interested in working with a fun bunch of people doing cool and interesting stuff?  We're always on the look out for talented individuals with cutting edge skills.</p>
               <a href="">Current vacancies</a>
           </div>
    </div>  
  </div>    
   <div class="footer-bar">
       <div class="footer-bar-inner">
           <div class="copyright">
               <p>Copyright &copy; 2011 Wotif.com Holdings Limited. ABN 41 093 000 456.</p>
               <p><a href="">Home</a> | <a href="">Post</a> | <a href="">Categories</a> | <a href="">Author</a> | <a href="">About</a></p>
           </div>
           <div class="top">^ <a href="#top">Top</a></div>
       </div>
   </div>

   