<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" charset="utf-8">
    <link rel="stylesheet" href="/css/jquery-ui-1.8.13.custom.css"> 
    <script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script> 
    <script type="text/javascript" src="/js/jquery-ui-1.8.13.custom.min.js"></script>
    <title>{{ page.title }}</title>
    <script type="text/javascript"> 
               $(function(){

                   // Tabs
                   $('#tabs').tabs();

                   // hover states on the static widgets
                   $('#dialog_link, ul#icons li').hover(
                       function() { $(this).addClass('ui-state-hover'); },
                       function() { $(this).removeClass('ui-state-hover'); }
                   );

               });
           </script>
  </head>
