<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" charset="utf-8">
    <script type="text/javascript" src="https://www.google.com/jsapi">
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
    </script>    
  </head>
  <body id="intro">
    <div id="wrapper">
      <div id="header" onclick="javascript:window.location='http://wotifgroup.github.com/'">
        <h1>WotifGroup Developers Blog</h1>
      </div>
      {% include nav.markdown %}
      <div id="page_body">
          {{ content }}
        {% include footer.html %}
    </div>
    
    <script type="text/javascript">
  		if ($('#disqus_thread').length) {
  			var disqus_shortname = 'wotifgroupblog'; // required: replace example with your forum shortname
  			var disqus_identifier = '{{ page.url }}';
  			var disqus_url = '{{ site.base_url }}{{ page.url }}';
  			var disqus_title = '{{ page.title }}';

  			(function() {
  				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

  				var commentCount = setInterval(function() {
  					if ($('#dsq-num-posts').length) {
  						$('.responses-number').html($('#dsq-num-posts').html());
  						clearInterval(commentCount);
  					}
  				}, 1000);
  			})();
  		}
  	</script>
  	
  </body>
</html>
