{% include header.html %}
  <body>
    <a name="top"></a>
    <div class="container">
      <div class="header">
        <div class="logo"><h1>WotifGroup Developers Blog</h1></div>
      </div>
      {% include nav.markdown %}
      <div class="main">
          {{ content }}
    </div>
    {% include footer.html %}    
    <script type="text/javascript">
  		if ($('#disqus_thread').length) {
  			var disqus_shortname = 'wotifgroupblog'; // required: replace example with your forum shortname
  			var disqus_identifier = '{{ page.url }}';
  			var disqus_url = '{{ site.base_url }}{{ page.url }}';
  			var disqus_title = '{{ page.title }}';

  			(function() {
  				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

  				var commentCount = setInterval(function() {
  					if ($('#dsq-num-posts').length) {
  						$('.responses-number').html($('#dsq-num-posts').html());
  						clearInterval(commentCount);
  					}
  				}, 1000);
  			})();
  		}
  	</script>
  	
  </body>
</html>
