---
layout: default
body: blog single-post
---
<!-- <div id="sidebar">
  {% include intro.markdown %}
  {% include sidebar_tabs.markdown %}
  <script type="text/javascript" src="http://disqus.com/forums/wotifgroupblog/combination_widget.js?num_items=5&color=orange&default_tab=recent">
  </script>
</div><!-- end: #sidebar --> -->
<div class="main-inner">
<div class="content">
   	<div class="post">
   		<div class="post-meta">
   			<span class="date"><img src="/images/icons/ico_calendar.png" alt="" />{{ page.date | date_to_string }} | </span>
   			<span class="num-comments"><img src="/images/icons/ico_comments_sm.png" alt=""><a href="#comments">(<span class="responses-number">0</span>)</a> | </span>
   			<span class="categories"><img src="/images/icons/ico_drawer.png" alt="" />
   				Category: <a href="/categories/{{ page.category | replace:' ', '-' | downcase  }}">{{ page.category }}</a>
   			</span>
   		</div>
   		<h1 class="post-title"><a href="#">{{ page.title }}</a></h1>
   		{{ content }}
   	</div>
   	<div class="related-posts section">
   		<h3 class="uppercase-title">Related Posts</h3>
   		<ol>
   			{% for post in site.related_posts limit:5 %}
   				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
   			{% endfor %}
   		</ol>
   	</div><!-- end: related-posts -->
  	<div class="nextprev clearfix">
  		<a class="prev" href="{{ page.previous.url }}"><span>{{ page.previous.title }}</span><br/>&larr; Previous Entry</a>
  		<a class="next" href="{{ page.next.url }}"><span>{{ page.next.title }}</span><br/>Next Entry &rarr;</a>
  	</div>
   	<div id="comments" class="section">
   		<div id="num-responses"><img src="/images/icons/ico_comments.png" alt=""><span class="responses-number">0</span> Responses. <a href="#comments">Add Yours!</a></div>
   		<h3>Discussion</h3>
   		<div id="disqus_thread" name="#comments">
   		</div>
  
   	</div>
  </div> <!-- end content -->
</div><!-- end: main-inner-->
